* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    line-height: 1.8em;
    color: #d8d174;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background-color: #24262b;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.Home_Logo{
    width: 10%;
    height: 10%;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 40px;
    background-color: #fffbff;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 4px;
}

.Nav_Links li, a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    
    color: #fffbff;
    text-decoration: none;
}

.Nav_Links{
    list-style: none;
}

.Nav_Links li{
    display: inline-block;
    padding: 0px 0.8em;
}

.Nav_Links li a{
    transition: all 0.3s ease 0s;
}

.Nav_Links li a:hover{
    color: chocolate;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;             /* Parallax Magic */     
}

.pimg1{
    background-image: url('media/About-Us_Heading\ Image.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('media/About-Us_World-Class-Chefs.jpg');
    min-height: 70%;
    min-width: 80%;
}

.pimg3{
    background-image: url('media/About-Us_Exotic\ Meals.jpg');
    min-height: 70%;
    min-width: 80%;
}

.section{
    text-align: center;
    padding: 4% 8%;
}

.section-light{
    background-color: #f4f4f4;
    color: rgb(78, 78, 78);
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ChefGrid {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.ChefGrid article {
    background: #eee5e9;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.ChefGrid article:hover {
    transform: translateY(10px);
    box-shadow: 2px 2px 26px 0px rgba(131, 124, 126, 0.726);
}

.ChefGrid article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
}

.ChefText {
    padding: 15px;
    color: rgb(78, 78, 78);
}

.ptext{
    font-family: "Cambria Math", sans-serif;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 7px;
    text-transform: uppercase;              /*Makes characters Uppercase*/
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

.FooterContainer {
    max-width: 1170px;
    margin: auto;
}

.Row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.Footer {
    background-color: #24262b;
    padding: 70px 0;
}

.Footer-Column {
    width: 25%;
    padding: 0 15px;   
}

.Footer-Column h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.Footer-Column h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.Footer-Column ul li:not(:last-child) {
    margin-bottom: 10px;
}

.Footer-Column ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.Footer-Column ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.Footer-Column .Social-Links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.Footer-Column .Social-Links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*Responsive Part*/
@media(max-width: 767px){
    .Footer-Column {
        width: 50%;
        margin-bottom: 30px;
    }

    .ChefGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 574px){
    .Footer-Column {
        width: 100%;
    }
}

@media (max-width: 500px){
    .ChefGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    .ChefGrid article {
        text-align: center;
    }
}